.page{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
}

.first{
grid-row: 1/2;
grid-column: 1/2;
}
.second{
    grid-row: 1/2;
    grid-column: 2/3;

}